/*
Aiden Hill 
9/11/2024

*/
/* CSS Reset */
body header,nav,footer, main, h1, div, img, ul, li,a{
	margin:0;
	padding:0;
	border:0;
}

body{
	 background-color:#F0F8FF;
	font-family:"Gowun Batang";
}

.tablet-desktop{
	display: none;
}

/*Style rules for mobile*/

nav ul{
	list-style-type: none;
	text-align: center;
}

form{
	width:auto;
}
.form{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
}

nav li{
	font-size: 2em;
	padding-top:2%;
	padding-right: 1%;
	border-top: 1px solid #000;
}

nav li:first-child{
	border-top: none;
}

nav li a{
	display: block;
	color: #000000;
	text-decoration: none;
	font-family: "Raboto slab", serif;
}
/*Style rules for body and images*/

/*Stylle rules for header*/

/*Style rules for projects*/
.chapters{
	display: block;
	list-style:none;
	
}

.chapters ul{
	list-style:none;
}

/*Style rules for the main content*/
main p{
	text-align:left;
}

main ul{
	text-align: center;
	display: inline-block;
}



#Information{
	text-align:left;

}

.bold{
	font-weight: bold;
}

.grid{
	display:grid;
	grid-template-columns: auto auto;
}

.fav-grid{
	display:block;
	grid-template-columns: auto auto;
}

article img{
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

.curry{
	max-width: 100%;
	display: block;
}

.basketball h1{
	padding-left: 10%;
}

table{
	width:40%;
	margin:0 auto;
	border: 3px solid #086da8;
	box-shadow: 8px 8px 8px #015b8f;
}

 tr,th,td{
	border: 1px solid  #086da8;
	border-collapse: collapse;
	padding:2%;
}

th{
	background-color: #015b8f;
	color: #F0F8FF;
}

caption{
	font-size: 2em;
}

.basketball li{
	text-align: left;
}

.videos{
	display:block;
	padding-top: 5%;
}

.center{
	text-align: center;
}

/*End of mobile style rules*/

/*Media Query for tablet Viewport*/
@media screen and (min-width: 630px), print{

	nav li {
		display:grid;
		grid-template-columns: auto auto;
		display:inline-block;
		border-top:none;
		border-right: 1px solid #000;
		padding:1%;
	}

	.chapters{
		text-align: center;
		display:inline-block;
		border: 1px solid #000;
		padding:20px;
		margin:40px 80px;
		box-shadow:10px 10px 10px #66B2FF;
	}

	.videos{
		display:inline-block;
	}

	.fav-grid{
		display:grid;
		grid-template-columns: auto auto;
	}

	.center{
		text-align: center;
	}

}

/*media query for desktop viewport*/
@media screen and (min-width: 1015px), print{

	nav li :hover{
		opacity:1;
		box-shadow: 0px 0px 10px #000;
	}

	nav li{
		border-top:none;
		border-right:none;
	}

	#lebron{
		opacity:.9;
	}

	#lebron:hover{
		opacity:1;
		box-shadow: 5px 10px 8px 10px #888888;
	}

	.chapters{
		text-align: center;
		display:inline-block;
		border: 1px solid #000;
		padding:30px;
		margin:40px 80px;
		box-shadow:10px 10px 10px #66B2FF;
	}

	.frame{
		position: relative;
		max-width: 450px;
		margin: 2% auto;
	}

	.frame img{
		width:450px;
	}

	table{
		width:40%;
		margin:0 auto;
		border: 3px solid #086da8;
		box-shadow: 8px 8px 8px #015b8f;
	}
	
	 tr,th,td{
		border: 1px solid  #086da8;
		border-collapse: collapse;
		padding:2%;
	}
	
	th{
		background-color: #015b8f;
		color: #F0F8FF;
	}
	
	caption{
		font-size: 2em;
	}
	
	.center{
		text-align: center;
	}

	.videos{
		display:inline-block;
		height:200px;
		width: 350px;
	}

	.fav-grid{
		display:grid;
		grid-template-columns: auto auto;
	}

	#curry{
		display:inline-block;
		margin:0 auto;
	}

}