table, tr, td, th{
    border: 1px solid #000;
    border-collapse: collapse;
	padding:2%;
    font-family: "Roboto";

}

body{
    background-color: #ffe5dc;
}

table{
    border: 8px solid #fd4d0c;
    box-shadow: 20px 20px 20px #792101;
    margin:0 auto;
    width:86%;
}

caption{
	font-size:2em;
	padding:2%;
    color:#792101;
    font-family: "Roboto";
    font-weight: bold;
}

td{
    border-color: #a22c02;
    font-size: 1.5em;
    
}

tr:nth-child(odd){
    background-color: #fe9772;
}

th{
    background-color:#792101;
    color: aliceblue;
    font-size: 1.5em;
    border-color: aliceblue;
    
}
